body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.home-wrapper {
  flex-grow: 1;
}

header {
  width: 100%;
  display: flex;
  height: 50px;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

nav a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: green;
}

nav a:first-of-type {
  margin-left: 10px;
}

nav a:last-of-type {
  margin-left: auto;
}

/* footer */

footer {
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-wrapper {
  margin: 0 10px;
}
